<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Our CSS Stylesheet -->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Project 2!</title>
</head>

<body>
  {{{body}}}
</body>

</html>
